#### Describe DATA
data, data set

In [4]:
import numpy as np
import pandas as pd
movies=pd.read_csv('ml-25m/movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [6]:
movies['title']

0                          Toy Story (1995)
1                            Jumanji (1995)
2                   Grumpier Old Men (1995)
3                  Waiting to Exhale (1995)
4        Father of the Bride Part II (1995)
                        ...
62418                             We (2018)
62419             Window of the Soul (2001)
62420                      Bad Poems (2018)
62421                   A Girl Thing (2001)
62422        Women of Devil's Island (1962)
Name: title, Length: 62423, dtype: object

In [11]:
ratings=pd.read_csv('ml-25m/ratings.csv')
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [12]:
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

### Aggregate Function

##### mean median mode min/max sum count std var

In [13]:
ratings['rating'].mean()

3.533854451353085

In [14]:
ratings['rating'].sum()

88346697.0

In [15]:
np.sum(ratings['rating'])

88346697.0

#### total size of series, including missing values:
#### series.size/len(series)/.shape
#### not including missing data:
#### series.count()

### quantile(q)

In [17]:
ratings.groupby('movieId')['rating'].count()

movieId
1         57309
2         24228
3         11804
4          2523
5         11714
          ...
209157        1
209159        1
209163        1
209169        1
209171        1
Name: rating, Length: 59047, dtype: int64

In [24]:
movie_stats=ratings.groupby('movieId')['rating'].agg(['mean','count'])
movie_stats

             mean  count
movieId
1        3.893708  57309
2        3.251527  24228
3        3.142028  11804
4        2.853547   2523
5        3.058434  11714
...           ...    ...
209157   1.500000      1
209159   3.000000      1
209163   4.500000      1
209169   3.000000      1
209171   3.000000      1

[59047 rows x 2 columns]

## Sorting

In [25]:
movie_stats.nlargest(10,'count')

             mean  count
movieId
356      4.048011  81491
318      4.413576  81482
296      4.188912  79672
593      4.151342  74127
2571     4.154099  72674
260      4.120189  68717
480      3.679175  64144
527      4.247579  60411
110      4.002273  59184
2959     4.228311  58773

In [26]:
movie_info=movies.join(movie_stats,on='movieId')
movie_info

,movieId,title,genres,mean,count
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.893708,57309.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.251527,24228.0
2,3,Grumpier Old Men (1995),Comedy|Romance,3.142028,11804.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.853547,2523.0
4,5,Father of the Bride Part II (1995),Comedy,3.058434,11714.0
...,...,...,...,...,...
62418,209157,We (2018),Drama,1.500000,1.0
62419,209159,Window of the Soul (2001),Documentary,3.000000,1.0
62420,209163,Bad Poems (2018),Comedy|Drama,4.500000,1.0
62421,209169,A Girl Thing (2001),(no genres listed),3.000000,1.0
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,3.000000,1.0

In [27]:
movie_info['count'].describe()

count    59047.000000
mean       423.393144
std       2477.885821
min          1.000000
25%          2.000000
50%          6.000000
75%         36.000000
max      81491.000000
Name: count, dtype: float64

## Alternate Histogram