In [62]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from census import Census
from us import states
from scipy import stats

In [64]:
def simu(n,nn,a):
    t=[]
    p=[]
    for i in range(n):
        data=np.random.normal(43, 4, nn)
        ts,pvalue=stats.ttest_1samp(data,43)
        t.append(ts)
        p.append(pvalue)
    value=pd.DataFrame({'pvalue':p,'ts':t})
    return value[value.pvalue<a]

In [75]:
simu(100,25,0.05)['pvalue'].count()

6

In [77]:
ave=[]
for i in range(100):
    ave.append(simu(1000,50,0.05)['pvalue'].count())

In [79]:
df=pd.DataFrame({'pvalue':ave})
df.describe()

           pvalue
count  100.000000
mean    50.810000
std      6.540773
min     34.000000
25%     47.000000
50%     51.000000
75%     55.000000
max     70.000000

In [80]:
ave=[]
for i in range(100):
    ave.append(simu(1000,75,0.01)['pvalue'].count())
df=pd.DataFrame({'pvalue':ave})
df.describe()

           pvalue
count  100.000000
mean    10.240000
std      3.018863
min      3.000000
25%      8.000000
50%     10.000000
75%     12.000000
max     22.000000